/* Add CSS Styling */

#even {
    font-family: 'Times New Roman', Times, serif;
}

.odd {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.two {
    color:rgb(0, 0, 255);
    font-size: 36px;
}

.cool,
.four {
    font-size: 24px;
}

.four {
    background-color: rgb(128, 255, 128);
    font-weight: bold;
}